httpx
pandas
spacy
trafilatura
rdflib
owlrl
pykeen
scikit-learn
matplotlib
beautifulsoup4
lxml_html_clean
SPARQLWrapper
requests
torch
torch-ppr
slicer
docdata
annotated-doc
namex
mdurl
rfc3986-validator
more-click
flask
owlready2
